<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Raleway:wght@600;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/styleindex.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wethex</title>
</head>

<body>
    <div class="container">
        <div class="heading">wethex</div>
        <form class="search1" method="get" action="weatherinfo">

            <input name="location" placeholder="location">
            <div class="search"></div>
        </form>
    </div>
    {{>footer}}
</body>

<script src="js/app.js"></script>

</html>