<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Raleway:wght@600;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/styleinfo.css" id="theme" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{location}}</title>
</head>

<body>
    <div class="outer-loc">
        <video id="bgVideo" autoplay muted loop id="myVideo"></video>
        <div id="location"></div>
        <div id="wicon"></div>
    </div>
    <div class="outer-table-body">
        <div class="table-body">
            <div class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        <tr>
                            <td>1.&nbsp;&nbsp;&nbsp; Description</td>
                            <td id="weathD"></td>

                        </tr>
                        <tr>
                            <td>2.&nbsp;&nbsp;&nbsp; Temperature</td>
                            <td id="temp"></td>

                        </tr>
                        <tr>
                            <td>3.&nbsp;&nbsp;&nbsp; Wind Speed</td>
                            <td id="winds">ADELAIDE</td>

                        </tr>
                        <tr>
                            <td>4.&nbsp;&nbsp;&nbsp; Pressure</td>
                            <td id="pressure"></td>
                        </tr>
                        <tr>
                            <td>5.&nbsp;&nbsp;&nbsp; Precipitation Probablity</td>
                            <td id="precip"></td>

                        </tr>
                        <tr>
                            <td>6.&nbsp;&nbsp;&nbsp; Humidity</td>
                            <td id="humidity"></td>

                        </tr>
                        <tr>
                            <td>7.&nbsp;&nbsp;&nbsp; Feels Like</td>
                            <td id="fil"></td>

                        </tr>
                        <tr>
                            <td>8.&nbsp;&nbsp;&nbsp; UV index</td>
                            <td id="uv"></td>

                        </tr>
                        <tr>
                            <td>9.&nbsp;&nbsp;&nbsp; Visiblity</td>
                            <td id="visib"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
<script src="js/info.js"></script>

</html>