html,
body {
  width: 100%;
  min-height: 100%;
  height: auto;
}

body {
  background-image: url("bg7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.outer-loc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 40px;
}

.outer-table-body {
  width: 100%;
  display: flex;
  justify-content: center;
}

#location {
  font-family: "Lato";
  font-size: 50px;
  margin: 30px;
  margin-left: 50px;
  font-weight: 900;
  color: white;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.96);
}

table {
  width: 100%;
  table-layout: fixed;
  font-family: "Raleway";
}


.tbl-content {
  height: auto;
  overflow-x: auto;
  margin-top: 0px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

td {
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 20px;
  color: #fff;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

/* demo styles */

.table-body {
  background-color: #a4508b;
  background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);

  margin: 50px;
  width: auto;
  max-width: 900px;
}
section {
  margin: 50px;
}

/* follow me template */

.made-with-love a:hover {
  text-decoration: underline;
}

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#bgVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -10;
}
